In [54]:
import pandas as pd
import numpy as np

In [55]:
# !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

In [56]:
df = pd.read_csv('housing.csv')

In [57]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [58]:
cateogrical_cols = list(df.dtypes[df.dtypes == 'object'].index)

In [59]:
cateogrical_cols

['ocean_proximity']

In [60]:
for col in cateogrical_cols:
    df[col] = df[col].str.replace(' ', '_').str.lower()

In [61]:
# just for practise also 
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [62]:
cols_used = ['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

df = df[cols_used]

In [63]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,20630,20631,20632,20633,20634,20635,20636,20637,20638,20639
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84,...,39.29,39.33,39.26,39.19,39.27,39.48,39.49,39.43,39.43,39.37
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25,...,-121.32,-121.4,-121.45,-121.53,-121.56,-121.09,-121.21,-121.22,-121.32,-121.24
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0,...,11.0,15.0,15.0,27.0,28.0,25.0,18.0,17.0,18.0,16.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0,...,2640.0,2655.0,2319.0,2080.0,2332.0,1665.0,697.0,2254.0,1860.0,2785.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0,...,505.0,493.0,416.0,412.0,395.0,374.0,150.0,485.0,409.0,616.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0,...,1257.0,1200.0,1047.0,1082.0,1041.0,845.0,356.0,1007.0,741.0,1387.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0,...,445.0,432.0,385.0,382.0,344.0,330.0,114.0,433.0,349.0,530.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912,...,3.5673,3.5179,3.125,2.5495,3.7125,1.5603,2.5568,1.7,1.8672,2.3886
median_house_value,452600.0,358500.0,352100.0,341300.0,342200.0,269700.0,299200.0,241400.0,226700.0,261100.0,...,112000.0,107200.0,115600.0,98300.0,116800.0,78100.0,77100.0,92300.0,84700.0,89400.0
ocean_proximity,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,...,inland,inland,inland,inland,inland,inland,inland,inland,inland,inland

In [64]:
# so our basic cleaning routine is done let's do some EDA

In [65]:
df.describe()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,35.631861,-119.569704,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.135952,2.003532,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,32.540000,-124.350000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,33.930000,-121.800000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,34.260000,-118.490000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,37.710000,-118.010000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,41.950000,-114.310000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [66]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [67]:
median = df['total_bedrooms'].median()
df['total_bedrooms']  = df.total_bedrooms.fillna(median)

In [68]:
df.isnull().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [69]:
median

435.0

In [70]:
df['rooms_per_household'] = df['total_rooms'] / df['households']

In [71]:
df['bedrooms_per_room'] = df['total_bedrooms'] / df['total_rooms']

In [72]:
df['population_per_household'] = df['population'] /df['households']

In [73]:
mean = df['median_house_value'].mean()
df['above_average'] = np.where(df['median_house_value'] >=mean, 1, 0)

In [74]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,20630,20631,20632,20633,20634,20635,20636,20637,20638,20639
latitude,37.88,37.86,37.85,37.85,37.85,37.85,37.84,37.84,37.84,37.84,...,39.29,39.33,39.26,39.19,39.27,39.48,39.49,39.43,39.43,39.37
longitude,-122.23,-122.22,-122.24,-122.25,-122.25,-122.25,-122.25,-122.25,-122.26,-122.25,...,-121.32,-121.4,-121.45,-121.53,-121.56,-121.09,-121.21,-121.22,-121.32,-121.24
housing_median_age,41.0,21.0,52.0,52.0,52.0,52.0,52.0,52.0,42.0,52.0,...,11.0,15.0,15.0,27.0,28.0,25.0,18.0,17.0,18.0,16.0
total_rooms,880.0,7099.0,1467.0,1274.0,1627.0,919.0,2535.0,3104.0,2555.0,3549.0,...,2640.0,2655.0,2319.0,2080.0,2332.0,1665.0,697.0,2254.0,1860.0,2785.0
total_bedrooms,129.0,1106.0,190.0,235.0,280.0,213.0,489.0,687.0,665.0,707.0,...,505.0,493.0,416.0,412.0,395.0,374.0,150.0,485.0,409.0,616.0
population,322.0,2401.0,496.0,558.0,565.0,413.0,1094.0,1157.0,1206.0,1551.0,...,1257.0,1200.0,1047.0,1082.0,1041.0,845.0,356.0,1007.0,741.0,1387.0
households,126.0,1138.0,177.0,219.0,259.0,193.0,514.0,647.0,595.0,714.0,...,445.0,432.0,385.0,382.0,344.0,330.0,114.0,433.0,349.0,530.0
median_income,8.3252,8.3014,7.2574,5.6431,3.8462,4.0368,3.6591,3.12,2.0804,3.6912,...,3.5673,3.5179,3.125,2.5495,3.7125,1.5603,2.5568,1.7,1.8672,2.3886
median_house_value,452600.0,358500.0,352100.0,341300.0,342200.0,269700.0,299200.0,241400.0,226700.0,261100.0,...,112000.0,107200.0,115600.0,98300.0,116800.0,78100.0,77100.0,92300.0,84700.0,89400.0
ocean_proximity,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,near_bay,...,inland,inland,inland,inland,inland,inland,inland,inland,inland,inland
rooms_per_household,6.984127,6.238137,8.288136,5.817352,6.281853,4.761658,4.931907,4.797527,4.294118,4.970588,...,5.932584,6.145833,6.023377,5.445026,6.77907,5.045455,6.114035,5.205543,5.329513,5.254717
bedrooms_per_room,0.146591,0.155797,0.129516,0.184458,0.172096,0.231774,0.192899,0.221327,0.260274,0.199211,...,0.191288,0.185687,0.179388,0.198077,0.169383,0.224625,0.215208,0.215173,0.219892,0.221185
population_per_household,2.555556,2.109842,2.80226,2.547945,2.181467,2.139896,2.128405,1.788253,2.026891,2.172269,...,2.824719,2.777778,2.719481,2.832461,3.026163,2.560606,3.122807,2.325635,2.123209,2.616981
above_average,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [75]:
df.isnull().sum()

latitude                    0
longitude                   0
housing_median_age          0
total_rooms                 0
total_bedrooms              0
population                  0
households                  0
median_income               0
median_house_value          0
ocean_proximity             0
rooms_per_household         0
bedrooms_per_room           0
population_per_household    0
above_average               0
dtype: int64

In [76]:
#Now we are supposed to setup the framework for training and evaluating stuff

In [77]:
from sklearn.model_selection import train_test_split
np.random.seed(42)

In [78]:
df_train_full, df_test = train_test_split(df,test_size=0.2, random_state=42)

In [79]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

In [80]:
len(df_train), len(df_val), len(df_test) , len(df_train_full)

(12384, 4128, 4128, 16512)

In [81]:
# y_train_full = df_train_full.median_house_value.values
# y_train = df_train.median_house_value.values
# y_val = df_val.median_house_value.values
# y_test = df_test.median_house_value.values

y_train_full = df.above_average.values
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

In [82]:
## For safety to make sure that we don't accedeintaly use this metric in the model 

# del df_train_full['median_house_value']
# del df_train['median_house_value']
# del df_val['median_house_value']
# del df_test['median_house_value']

In [83]:
df.ocean_proximity.mode()

0    <1h_ocean
Name: ocean_proximity, dtype: object

In [84]:
# Q-1 <1H OCEAN

In [85]:
numerical_cols = ['latitude', 'longitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'rooms_per_household',
       'bedrooms_per_room', 'population_per_household']

# below are three ways to solve this problem

In [86]:
df[numerical_cols].corr().unstack().sort_values(ascending= False)[:15]

latitude                  latitude                    1.000000
longitude                 longitude                   1.000000
bedrooms_per_room         bedrooms_per_room           1.000000
rooms_per_household       rooms_per_household         1.000000
median_house_value        median_house_value          1.000000
median_income             median_income               1.000000
households                households                  1.000000
population                population                  1.000000
total_bedrooms            total_bedrooms              1.000000
total_rooms               total_rooms                 1.000000
housing_median_age        housing_median_age          1.000000
population_per_household  population_per_household    1.000000
total_bedrooms            households                  0.974366
households                total_bedrooms              0.974366
total_rooms               total_bedrooms              0.927058
dtype: float64

In [87]:
# answer total_bedrooms -- households

In [88]:
# population and total room

In [89]:
res = []

for col in numerical_cols:
    num_cols = numerical_cols.copy()
    num_cols.remove(col)
    x = df[num_cols].corrwith(df[col])
    x.name = col
    res.append(x)

In [90]:
pd.concat(res, axis = 1)
# bascially this methods shows how to reach the output of df.corr().unstack()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
longitude,-0.924664,NaN,-0.108197,0.044568,0.069120,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.081205,0.002476
housing_median_age,0.011173,-0.108197,NaN,-0.361262,-0.319026,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.135622,0.013191
total_rooms,-0.036100,0.044568,-0.361262,NaN,0.927058,0.857126,0.918484,0.198050,0.134153,0.133798,-0.187381,-0.024581
total_bedrooms,-0.066484,0.069120,-0.319026,0.927058,NaN,0.873535,0.974366,-0.007617,0.049457,0.001765,0.071649,-0.028325
population,-0.108785,0.099773,-0.296244,0.857126,0.873535,NaN,0.907222,0.004834,-0.024650,-0.072213,0.010035,0.069863
households,-0.071035,0.055310,-0.302916,0.918484,0.974366,0.907222,NaN,0.013033,0.065843,-0.080598,0.034498,-0.027309
median_income,-0.079809,-0.015176,-0.119034,0.198050,-0.007617,0.004834,0.013033,NaN,0.688075,0.326895,-0.545298,0.018766
median_house_value,-0.144160,-0.045967,0.105623,0.134153,0.049457,-0.024650,0.065843,0.688075,NaN,0.151948,-0.233303,-0.023737
rooms_per_household,0.106389,-0.027540,-0.153277,0.133798,0.001765,-0.072213,-0.080598,0.326895,0.151948,NaN,-0.370308,-0.004852
bedrooms_per_room,-0.098619,0.081205,0.135622,-0.187381,0.071649,0.010035,0.034498,-0.545298,-0.233303,-0.370308,NaN,0.002601
population_per_household,0.002366,0.002476,0.013191,-0.024581,-0.028325,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.002601,NaN
latitude,NaN,-0.924664,0.011173,-0.036100,-0.066484,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.098619,0.002366

In [91]:
res = {}

for col in numerical_cols:
    num_cols = numerical_cols.copy()
    num_cols.remove(col)
    x = df[num_cols].corrwith(df[col]).to_dict()
    for key, value in x.items():
        res[key + '___' + col] = value

In [92]:
sorted(res.items(), key= lambda x: x[1] , reverse=True) [:3]

[('total_bedrooms___households', 0.9743662937706988),
 ('households___total_bedrooms', 0.9743662937706987),
 ('total_rooms___total_bedrooms', 0.9270581965414187)]

In [93]:
from sklearn.metrics import mutual_info_score

In [94]:
def mutual_info(series):
    return mutual_info_score(df_train.above_average , series)

In [95]:
mi = df_train.apply(mutual_info)

/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
/Users/ram/miniconda3/envs/ml-zoomcamp/lib/python3.9/site-packages/sklearn/metrics/cluster/_supervised.py:64: UserWarning: Clustering metrics expects discrete values but received binary values for label, and continuous values for target
  warnings.warn(msg, UserWarning)

In [96]:
mi.sort_values(ascending=False).round(2)

median_house_value          0.68
above_average               0.68
bedrooms_per_room           0.65
rooms_per_household         0.65
population_per_household    0.64
median_income               0.52
total_rooms                 0.27
longitude                   0.18
population                  0.18
latitude                    0.16
ocean_proximity             0.10
total_bedrooms              0.09
households                  0.08
housing_median_age          0.01
dtype: float64

In [97]:
#@ PREPARING THE DATASET:
df_train = df_train.drop('above_average', axis=1)
df_val = df_val.drop('above_average', axis=1)
df_test = df_test.drop('above_average', axis=1)

In [98]:
cat = ['ocean_proximity']
num = ["longitude", "latitude", "housing_median_age", "total_rooms", "total_bedrooms", "population", "households", "median_income", "rooms_per_household", 
       "bedrooms_per_room", "population_per_household"]

In [99]:
from sklearn.feature_extraction import DictVectorizer

train_dict = df_train[cat + num].to_dict(orient='records')

#@ VECTORIZING THE DATASET:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)
X_train = dv.transform(train_dict)

In [100]:
# @ TRAINING LOGISTIC REGRESSSION MODEL:

from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train,)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [101]:
#@ INITIALIZING THE MODEL PREDICTION:
val_dict = df_val[cat + num].to_dict(orient='records')
X_val = dv.transform(val_dict)
y_pred = model.predict(X_val)

#@ INSPECTING THE ACCURACY:
from sklearn.metrics import accuracy_score
accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(accuracy)

0.84